.headerContainer {
    display: flex;
    justify-content: space-between; /* Элементы по краям */
    align-items: center; /* Выравнивание по вертикали */
    padding: 10px 20px;
    background-color: #f8f9fa; /* Цвет фона */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    border-radius: 10px; /* Закругленные углы */
    margin-bottom: 20px; /* Отступ снизу */
    width: 100%;
    box-sizing: border-box; /* Учет отступов в ширине */
}

.menuContainer {
    display: flex;
    justify-content: space-evenly; /* Равномерное распределение пунктов меню */
    align-items: center;
    width: 100%; /* Контейнер меню занимает всю ширину */
    max-width: 100%; /* Убираем возможные ограничения */
    flex-grow: 1; /* Меню растягивается */
}

.userContainer {
    flex-shrink: 0; /* Устанавливаем фиксированный размер для пользователя */
    margin-left: 20px; /* Отступ от меню */
}
