.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.menuContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
}

.userContainer {
    flex-shrink: 0;
    margin-left: 20px;
}
